.form {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 3vh, 2.4rem);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: var(--on-app-bg);
}

.formRow {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
